.catalog__wrap {
    margin-top: 16rem;
    display: grid;
    grid-template-columns: repeat(4, 28.1rem);
    gap: 6.3rem 1.6rem;
    margin-bottom: 5.9rem;
}
@media (max-width:48em) {
    .catalog__wrap {
        grid-template-columns: repeat(2, 28rem);
        gap: 6.7rem 1.6rem;
        margin-bottom: 5rem;
    }
}