.drive__description {
    @include font(400, 1.9rem, 160%);
    margin-bottom: 3.1rem;
    max-width: 57.8rem;
}

@media (max-width:48em) {
    .drive__description {
        @include font(400, 2.8rem, 160%);
        margin-bottom: 4.5rem;
    }
}