.form__button {
    padding: 2.6rem 7.2rem 3rem;
    @include font(600, 1.8rem, 140%);
    position: relative;
    z-index: 100;
}

@media (max-width:48em) {
    .form__button {
        // padding: 3.7rem 19rem 5.5rem;
        padding: 4rem 12rem 4rem;

        @include font(600, 3.2rem, 140%);

    }
}