.facts__open {
    width: 3rem;
    height: 3rem;
    @include centered;
    img{
        width: 65%;
        height: 65%;
    }
}

@media (max-width:48em) {
    .facts__open {
        width: 4.2rem;
        height: 4.2rem;
        @include centered;
        img{
            width: 65%;
            height: 65%;
        }
    }
    
}