.header__link {
  @include font(500, 1.6rem, 140%);
  color: #2B3350;

}
.header__link:hover{
  transition: all 0.3s;
  border-bottom: .1rem solid #2B3350;
}

.header__link:not(:last-child) {
  margin-right: 3.4rem;
}