.drive__button {
    padding: 2.4rem 4.95rem 3rem 4.95rem;
    @include font(600, 1.8rem, 140%);
}

@media (max-width:48em) {
    .drive__button {
        @include font(600, 3.2rem, 140%);
        padding: 3.7rem 6rem 4.5rem 6rem;

        z-index: 100;

        &:first-letter {
            text-transform: uppercase;
        }

        span {
            display: none;
        }
    }
}