.form__wrapper--style{
    background: url('../img/form/BG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 3.6rem 8.4rem -2.4rem rgba(43, 51, 80, 0.5);
    border-radius: 1.6rem;
    color: #FFFFFF;
}

@media (max-width:48em) {
    .form__wrapper{
        border-radius: 0rem;
    }
}