.drive__text {
    padding-top: 9.5rem;
    padding-bottom: 11.4rem;
}

@media (max-width:48em) {
    .drive__text {
        text-align: center;
        padding-bottom: 3rem;
        // margin-bottom: 1rem;
    }
}