.select__header{
    display: flex;
    align-items: center;

    img{
        width: 1.2rem;
        height: .8rem;
        flex-shrink: 0;
        margin-top: .3rem;
        margin-left: .8rem;
    }
}