.form__input {
    width: inherit;
    height: inherit;
    @include font(400, 1.7rem, 124%);
    color: #FFFFFF;
    padding-left: 7rem;
    padding-right: 3.4rem;


    &::placeholder {
        color: #FFFFFF;
        @include font(500, 1.8rem, 122%);
    }
}


@media (max-width:48em) {
    .form__input {
        &::placeholder {
            color: #FFFFFF;
            @include font(500, 3.2rem, 122%);
            padding-left: 3.5rem;
            // padding-top: 10rem;
        }
    }
}