.form__input--style {
    background: #576077;
    border: .1rem solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 .6rem 1.6rem rgba(255, 255, 255, 0.0);
    border-radius: .8rem;
} 

@media (max-width:48em) {
    .form__input--style{
        border-radius: 1.6rem;
    }
}