.drive__title {
    @include font(900, 4.4rem, 120%);
    max-width: 68rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

@media (max-width:48em) {
    .drive__title {
        margin-top: 1rem;
        @include font(900, 5.6rem, 120%);

    }
}