.features__items {
    transform: translate(-12%, 0);
    width: 130%;
    height: 51rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}