.header-basket__count {
  @include font(bold, 1.2rem, 140%)
}

@media (max-width:48em) {
  .header-basket__count {
    position: absolute;
    top: -5%;
    right: -8%;
    @include font(bold, 1.5rem, 140%)
  }
}