.slider{
    &__back{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
    }
}


@media (max-width:48em) {
    .slider{
        &__back{
            position: absolute;
            top:0;
            // width: 150%;
            // left: 5%;
            z-index: -1;
        }
    }
}