.header-logo {
  margin-top: .3rem;
  width: 18.4rem;
}

@media (max-width:48em) {
  .header-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 26.6rem;
  }

}