.slider__header {
    @include font(900, 5.4rem, 120%);

    strong {
        font-weight: 900;
        display: block;
    }
    letter-spacing: -0.03em;
}

@media (max-width:48em) {
    .slider__header {
        @include font(500, 3.4rem, 120%);

        strong {
            font-weight: 900;
            display: block;
        }
    }
}